<table class="table-bordered table-style">
    <tbody>
        <% board.each_with_index do |row, i| %>
        <tr>
            <% row.each_with_index do |cell, j| %>
            <% if cell["revealed"] %>
            <% if cell['mine'] %>
            <td class="cell mine" data-row="<%= i %>" data-col="<%= j %>">Bomb</td>
            <% else %>
            <td class="cell number" data-row="<%= i %>" data-col="<%= j %>"><%= cell['adjacent_mines'] %></td>
            <% end %>
            <% else %>
            <td class="cell "></td>
            <% end %>
            <%end%>
        </tr>
        <% end %>
    </tbody>
</table>

<script>
    // add event listener to each cell
    $(".cell").on('click', function () {
        var row = $(this).data('row');
        var col = $(this).data('col');
        var boardId = "<%= @board.id %>";
        console.log("ajax request sent......");

        $.ajax({
            type: 'POST',
            url: "/boards/" + boardId + "/reveal_cell?row=" + row + "&col=" + col,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr(
                    'content'))
            }
        });
    });
</script>